/.idea/
/bitrix/*
!/bitrix/.settings.php
!/bitrix/bitrix.php
/bitrix/*
!/bitrix/admin/
/bitrix/admin/*
!/bitrix/admin/reports/
/bitrix/*
!/bitrix/components/
/bitrix/components/bitrix/*
!/bitrix/php_interface/
/bitrix/php_interface/dbconn.ph*
/bitrix/php_interface/after_connect*
/bitrix/php_interface/logs/
/bitrix/templates/
/local/php_interface/logs/
/local/logs/
/local/composer/vendor/*
!/bitrix/vendor/*
/upload/
/cgi-bin/
/awstats/
/webstat/
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
*.csv
*.txt
*.log
*.css.map
*.zip
*.zip*
*.tar
*.tar*
*.enc
*.enc*
*.gz
*.gz*
*.tgz
*.tgz*
*.sql
*.rar
.hg
.ftpconfig
*.rtf
*.xls
*.xlsx
*.ppt
*.pptx
*.psd
*.psb
*.sketch
core.*
!/robots.txt
node_modules
bower_components
.grunt
.npm
.env
/xhprof/logs
/.
/upload/
/filesFromGit/
